.slider-people {
	margin: 270px auto 0;
	width: 730px;
}

.slick-dots {
	width: 1000px;
	top: -280px;
	left: -138px;
}

.slick-dots button {
	visibility: hidden;
}

.slick-dots li:first-child,
.slick-dots li:nth-child(2),
.slick-dots li:nth-child(3),
.slick-dots li:last-child {
	height: 236px;
	width: 220px;
	background: url(../img/sprite.png) no-repeat;
}

.slick-dots li:first-child {
	background-position: 0 0;
}

.slick-dots li:nth-child(2) {
	background-position: -440px 0;
}

.slick-dots li:nth-child(3) {
	background-position: -880px 0;
}

.slick-dots li:last-child {
	background-position: -1320px 0;
}

.slick-dots li:first-child:hover,
.slick-dots li.slick-active:first-child {
	background-position: -220px 0;
}

.slick-dots li:nth-child(2):hover,
.slick-dots li.slick-active:nth-child(2) {
	background-position: -660px 0;
}

.slick-dots li:nth-child(3):hover,
.slick-dots li.slick-active:nth-child(3) {
	background-position: -1100px 0;
}

.slick-dots li:last-child:hover,
.slick-dots li.slick-active:nth-child(4) {
	background-position: -1540px 0;
}

h1 {
	font-family: Tahoma;
	text-align: center;
	margin-top: 0;
}

.bios {
	margin-bottom: 20px;
	min-height: 200px;
}

img {
	margin: 0 20px;
}

.bios-text-div {
	min-width: 490px;
	min-height: 200px;
	display: table;
	float: right;
}

span {
	font-size: 16px;
	font-family: Tahoma;
	display: table-cell;
	vertical-align: middle;
}

b {
	font-weight: 600;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}

.job {
	display: block;
	margin: 10px 0 20px;
	color: #00C9BA;
	font-weight: 600;
}

.left {
	float: left;
	text-align: right;
}

div:focus {
	outline: none;
}